[Unit]
Description=Run regionhop's traffic liveness probe every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=psi-healthcheck.service

[Install]
WantedBy=timers.target
